@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,400&display=swap');

:root{
    background-color: #5a5c5a;
    font-family: Lato, Sans Serif;
    color: #e8c22c;
    margin-left: 50px;

}
h1,h2,h3 {
    color: #a87507;
}
h2 {
	font-size: 60px;
}

h1 {
	text-transform: uppercase;
}
header {
	display: flex;
}
.top-block-header {
    height: 250px;
    width: 50px;
    margin: 10px;
 }
.social-networks a img {
	height: 60px;
	width: 40px;
	padding: 8px;
	margin: 2px;
}
.social-networks a img:hover {
	height: 68px;
	width: 48px;
	padding: 4px;
	margin: 2px;
	font-weight: bold;
}
.navigation-block-header {
	height: 250px;
	text-align: right;
	text-transform: uppercase;
}
.navigation-block-header a {
	text-decoration: none;
	color: silver;
	border: 2px solid transparent;
	padding: 2px;
	margin: 4px;
}
.navigation-block-header a:hover {
	color: #cf4e08;
	width: 40px;
	border: 2px solid; 
	border-color: #cf4e08;
	border-radius: 4px;
}
#logo {
	width: 60px;
	height: 40px;
}

.banner {
	font-size: 30px;
	padding: 50px 10px 50px 20px;
	background-image: url(https://img3.goodfon.com/wallpaper/nbig/f/98/kuznica-molot-nakovalnya.jpg);
    max-width: 100%;
    background-size: cover;
    min-height: 400px;
    background-position: left right 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.banner img {
	max-width: 100%;
	height: auto;
}
/*#services p {
	text-align: center;
}*/
.product-service {
	height: 400px;
	width: 300px;
	border: 2px solid orange;
	border-radius: 4px;
	
}
.product-service p {
	color: silver;
}
.product-service p b {
	color: orange;
}
.navigation-block-footer {
	height: 250px;
	text-align: right;
	text-transform: uppercase;
	display: block
}
.navigation-block-footer a {
	text-decoration: none;
	color: silver;
	border: 2px solid transparent;
	padding: 2px;
	margin: 4px;
}
.navigation-block-footer a:hover {
	color: #cf4e08;
	text-transform: bold;
	width: 40px;
	border: 2px solid; 
	border-color: #cf4e08;
	border-radius: 4px;
}
.product-service img {
	height: 120px;
	width: 120px;
	margin: 10px 10px 5px 10px;
}